<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin:0;
            overflow-x: hidden;
        }
        #MobileP, #mobilep1{
            display: none;
        }
        .modal{
            display:none;
        }
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 60px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }
          
          .modal-content {
            background-color: white;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }
          
          .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
          
          .close:hover,
          .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }   
        #add-to-cart-btn{
            background-color: black;
            color:white;
            width: 207px;
            height: 44px;
            gap: 0px;
            border: none;
        }     
        
        ul{
            display: flex;
            background-color: #F5F5F5;
            width: 100%;
            height: 64px;
            padding: 10px 7px;
            justify-content: space-between;
            align-items: center;
            margin: auto;
        }
        li{
            list-style-type: none;
        }
        header:nth-child(1+0){
            font-size: large;
            font-weight: bold;
        }
        li p{
            font-size: 16px;
            font-weight:900;
            line-height: 13.42px;
            text-align: center;
        }
        li button{
            width: 190px;
            height: 44px;
            gap: 0px;
            background-color: yellow;
            border: none;
        }
        /*Adding Animation to buttons*/
        li button:hover, .plus-button:hover ,#textContainer button:hover{
            transform: scale(1.1); /* Scale up the button */
            background-color: #FFD700; /* Change background color on hover */
        }
        #textContainer button{
            background-color: black;
            color:white;
            width: 207px;
            height: 44px;
            gap: 0px;
            border: none;
        }
        .bannerSection{
            position: relative;
            height: 400px; 
            overflow: hidden; /* To hide overflow  */
            z-index: -1;
        }
        section.bannerSection img {
            position: absolute;
            top: -140px; 
            left: 0;
            width: 100%;
        }
        #banner2{
            display: flex;
            z-index: 1;
            
        }
        .image-container {
            width: 50%;
            overflow: hidden;
            position: relative;
            margin-top: -140px;

        }
        .image-container img {
            width: 200%; /* Image fills the container */
            position: relative;
            right: 40px;
            bottom: -80px;
            z-index: -10;
        }
        #textContainer{
            width: 50%;
            padding-left: 67px;
            justify-content: center;
        }
        .belowbanner{
            background-color:#F5F5F5;
            padding:10px 50px;
            align-content: center;
        }
        .belowbanner p{
            font-weight: 400;
            font-size: 16px;
            text-align: center;
        }
        .gridsection {
            display: flex;
            flex-wrap: wrap; /* Allows wrapping the items */
            justify-content: space-between;
            padding-left: 55px;
            margin-top: 0px; 
        }
        .img1div, .img2div, .img3div, .img4div, .img5div, .img6div {
            position: relative;
            width: calc(33.33% - 10px); /* Each image will take 1/3 of the row with reduced gap */
            height: 444px;
            margin-bottom: -40px; /* Control the bottom margin for tighter spacing */
        }
        
        .img1div img, .img2div img, .img3div img,
        .img4div img, .img5div img, .img6div img {
            width: 100%;
            height: 100%;
        }
        .img1div, .img2div, .img3div, .img4div, .img5div, .img6div {
            position: relative;
            width: calc(33.33% - 20px); /* Each image will take 1/3 of the row with some gap */
            height: 444px;
        }
        
        .plus-button {
            position: absolute;
            top: 90px; /* Place the button at the top-right of the image */
            right: 10px; 
            background-color: rgb(232, 227, 227); /* Button color */
            color: rgb(5, 5, 5);
            border: none;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            font-size: 15px;
            cursor: pointer;
        }
        .grid-heading{
            font-weight: 400;
            font-size: 36px;
            padding-left:55px;
        }
        /* for Mobile View */
        @media only screen and (max-width: 480px) {       
            body{
                background-color: rgb(11, 177, 177);
                margin: 0; /* Remove default margin */
                padding: 0; /* Remove default padding */
                overflow-x: hidden;
            }
            li button,#desktopP,p,.bannerSection,#desktopp1{
                display:none;
            }
            ul{
                justify-content: center;
            }
            li h1{
                font-size: 20px;
            }
            .textContainer button:hover, .plus-button:hover{
                transform: scale(1.1); /* Scale up the button */
                background-color: #FFD700; /* Change background color on hover */
            }
            #banner2 {
                display: flex;
                flex-direction: column; 
                width: 100%; 
                align-items: center; 
                justify-content: center;
            }
            #textContainer {
                display:flex;
                flex-direction: column;
                width: 50%; 
                text-align: center; 
                margin-right:30px
            }
            #textContainer button{
                position: absolute;
                background-color: black;
                color:white;
                width: 207px;
                height: 44px;
                gap: 0px;
                border: none;
                top:450px;
                right:140px
            }
            .image-container {
                width: 100%;
                overflow: hidden;
                position: relative;
                margin-top: 0px;
            }
            .image-container img {
                width: 170%; /* Image fills the container */
                height:auto;
                position: relative;
                left:-170px;
                bottom: 0px;
            }
            .belowbanner p, #MobileP,#mobilep1{
                display: block;
            }
            #MobileP{
                font-size: 16px;
                font-weight: 400;
            }
            #textContainer h1{
                font-size: 30px;
                font-weight: bold;
            }
            .belowbanner{
                width:82%;
            }
            
            .gridsection {
                background-color: #FFD700;
                display: flex;
                flex-wrap: wrap; /* Allow items to wrap onto the next line */
                gap: 0px;
                justify-content: space-between;
                padding-left: 15px;
                
            }
            .img1div img, .img2div img, .img3div img,
            .img4div img, .img5div img, .img6div img {
                width: 100%;
                height: 100%;
            }
            .img1div, .img2div, .img3div, .img4div, .img5div, .img6div {
                width: calc(50% - 5px); /* Two items per row, accounting for gap */
                height: auto;
                position: relative;
                margin:0;
            }
            .grid-heading{
                display: block;
                height:20px;
                width:240px;
                font-size: 24px;
                font-weight: 400;
                text-align: center;
                margin-left: 70px;   
            }
        }

    </style>
</head>
<body>
    <!-- TOP Header -->
    <header>
        <ul>
            <li><h1>TISSO VISON</h1></li>
            <li><p>Find the ideal gifts for your loved ones</p></li>
            <li><Button>Choose Gifts -></Button></li>
        </ul>
    </header>
    <!-- Banner Section below header having image -->
    <section class="bannerSection">
        <img src="../Desktop/background-image.svg" alt="">
    </section>
    <!-- Section below banner image having text and image in a row -->
    <section id=banner2>
        <!-- Text Container below banner image -->
        <div id=textContainer>
            <h1>The Gift Guide</h1>
            <p id="MobileP">Discover Joy: Your Ultimate Holiday Gift Destination.</p>
            <p id="desktopP">Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.</p>
            <Button>Choose Gifts -></Button>
        </div>
        <!-- Image Container below banner image -->
        <div class="image-container">
            <!-- <img src="../Desktop/background-image.svg" alt=""> -->
            <img src="{{ 'background-image.svg' | asset_url }}" alt="Banner Image">
        </div>
    </section>
    <!-- Section below banner images -->
    <section class="belowbanner">
        <p id="desktopp1">SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL</p>
        <p id="mobilep1">SUSTAINABLE, ETHICALLY MADE ACTIVEWEAR</p>
    </section>
    <!-- Grid section started and heading -->
    <p class="grid-heading">Tisso vison in the wild</p>
    <!-- First row of images -->
    <section class="gridsection">
        <div class="img1div">
            <img src="../Desktop/black-bag-image.svg" alt="" srcset="">
            <button class="plus-button">+</button>
        </div>
        <div class="img2div">
            <img src="../Desktop/black-coat-image.svg" alt="" srcset="">
            <button class="plus-button">+</button>
        </div>
        <div class="img3div">
            <img src="../Desktop/blue-coat-image.svg" alt="" srcset="">
            <button class="plus-button">+</button>
        </div>
        <div class="img4div">
            <img src="../Desktop/gray-hud-image.svg" alt="" srcset="">
            <button class="plus-button" onclick="">+</button>
        </div>
        <div class="img5div">
            <img src="../Desktop/jeans-jacket.svg" alt="" srcset="">
            <button class="plus-button">+</button>
        </div>
        <div class="img6div">
            <img src="../Desktop/red-black-image.svg"" alt="" srcset="">
            <button class="plus-button">+</button>
        </div>
    </section>
                            <!-- Pop up Model -->
    <div id="productModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2 id="product-name"></h2>
          <p id="product-price"></p>
          <p id="product-description"></p>
          <label for="size">size</label>
          <select id="sizes">
                <option value="">Choose your size</option>
                <option value="xs">XS</option>
                <option value="x">X</option>
                <option value="m">m</option>
                <option value="l">l</option>
                <option value="xl">xl</option>
            </select>
      
          <form id="variant-form">
            <!-- Variant selection will be dynamically injected here -->
            <div id="variant-options"></div>
      
            <!-- Add to Cart Button -->
            <button type="button" id="add-to-cart-btn" data-product-id="{{ product.id }}">Add to Cart -></button>
          </form>
        </div>
      </div>      
</body>
</html>

<script>
    var plusButtons = document.querySelectorAll('.plus-button');

    // Loop through all buttons and add the event listener to each one
    plusButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            const productId = this.getAttribute('data-product-id');

            // Fetch product details from Shopify
            fetch(`/products/${productId}.js`)
            .then(response => response.json())
            .then(product => {
                // Populate modal with product data
                document.getElementById('product-name').innerText = product.title;
                document.getElementById('product-price').innerText = `$${(product.price / 100).toFixed(2)}`;
                document.getElementById('product-description').innerText = product.description;
                document.getElementById('product-image').src = product.images[0];
                
                let colorOptions = '';
                product.variants.forEach(variant => {
                    const option1 = variant.option1; // Color
                    
                    // Add unique color options
                    if (!colorOptions.includes(option1)) {
                        colorOptions += `
                            <label>
                                <input type="radio" name="color" value="${variant.id}">
                                ${option1}
                            </label>
                        `;
                    }
                });
        
                document.getElementById('color-options').innerHTML = `<h4>Color:</h4> ${colorOptions}`;
            });

            // Show modal
            document.getElementById('productModal').style.display = 'block';

            // Handle modal close button
            document.querySelector('.close').addEventListener('click', function() {
                document.getElementById('productModal').style.display = 'none';
            });

            // Add to Cart functionality
            document.getElementById('add-to-cart-btn').addEventListener('click', function() {
                const selectedVariantId = document.querySelector('input[name="color"]:checked').value || 
                document.querySelector('input[name="size"]:checked').value;
                
                fetch('/cart/add.js', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        id: selectedVariantId,
                        quantity: 1
                    })
                })
                .then(response => response.json())
                .then(data => {
                    alert('Product added to cart');
                    document.getElementById('productModal').style.display = 'none';
                })
                .catch(error => console.error('Error:', error));
            });
        });
    });
</script>
