<section class="custom-banner">
  <h1>{{ section.settings.heading }}</h1>
  <p>{{ section.settings.p }}</p>
  <h1>{{ shop.name }}</h1>
  <img src="{{ section.settings.background_image | asset_img_url|image_url }}" width="100px" height="100px" alt="Banner Image">
  <h1>hyyyy</h1>
  <img src="icon-discount.svg" width="100px" height="100px">
</section>
