<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        ul{
            display: flex;
            background-color: #F5F5F5;
            width: 1,440px;
            height: 64px;
            padding: 10px 50px 10px 50px;
            opacity: 0px;
            justify-content: space-between;
            align-items: center;
            margin: auto;
        }
        li{
            list-style-type: none;
        }
        header:nth-child(1+0){
            font-size: large;
            font-weight: bold;
        }
        li p{
            font-size: 16px;
            font-weight:900;
            line-height: 13.42px;
            text-align: center;
        }
        li button{
            width: 207px;
            height: 44px;
            gap: 0px;
            opacity: 0px;
            background-color: yellow;
            border: none;

        }
    </style>
</head>
<body>
    <header>
        <ul>
            <li><h1>Tisso Vision</h1></li>
            <li><p>Find the ideal gifts for your loved ones</p></li>
            <li><Button>Choose Gifts -></Button></li>
        </ul>
    </header>
      <div>abc
    <link rel="icon" type="image/png" href="{{ settings.background-image.svg | image_url: width: 32, height: 32 }}"></div>

</body>
</html>